extends layout
block content
  main
     .form.addedit
       h2 Edit Apartment
       each apartment in indivAp
         form(method="post")
           fieldset 
             label(for="newname") Apartment Name:
             input(name="newname", type="text", value="#{apartment.name}")
             label(for="newcity") City:
             input(name="newcity", type="text", value="#{apartment.city}")
             label(for="newaddress") Address:
             input(name="newaddress", type="text", value="#{apartment.address}")
             label(for="newprice") Monthly Price:
             input(name="newprice", type="text", value="#{apartment.price}")
             label(for="newdescription") Description:
             input(name='newdescription', value="#{apartment.description}")
             label(for="newimage") Apartment Image:
             input(name="newimage", type="text", value="#{apartment.image}")
             label(for="newid")
             input.hide(name="newid", type="text", value="#{apartment.id}")
             button.button(type="submit") Edit #{apartment.name}